.page
    margin-bottom: 54px

.row
    display: flex
    flex-direction: row
    align-items: center;

.col
    display: flex
    flex-direction: column

.container
    max-width: 1150px
    margin: auto

    @media mq-tablet
        margin: 0 20px

.wrapper
    padding: 20px

.wrap
    display: inline-block
    width: 50%

    @media mq-tablet
        display: block
        width: 90%
        margin-left: 2.5%

.col-2
    column-count: 2
    column-gap: 22px

    @media mq-tablet
        column-count: 1

.upper
    text-transform: uppercase

.btn__text
    color: __f-dark-grey
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.45)
    font-family: 'Bebas Neue'
    font-size: 25px
    font-weight: 500

.position-r
    position: relative