.row
    display: flex
    flex-direction: row
    align-items: center;

.col
    display: flex
    flex-direction: column

.container
    max-width: 1200px
    margin: auto

.wrapper
    margin: 20px

.upper
    text-transform: uppercase

.btn__text
    color: __f-dark-grey
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.45)
    font-family: 'Bebas Neue'
    font-size: 25px
    font-weight: 400