.chevron

    &-right::before
        content: "\203A"

    &-left::before
        content: "\2039"

    &__link::before
        content: "\3009"

    &__link
        font-weight: 300
        color: __yellow
        font-style: normal
        font-size: 18px
        margin: 5px

        @media mq-mobile
            font-size: 38px

.slider__chevron
    &-left,
    &-right
        color: __yellow
        font-size: 50px
        font-weight: 300
        line-height: 40px

.js-btn-disable > .slider__chevron-left,
.js-btn-disable > .slider__chevron-right
    color: __bg-light-grey
