.top-header
    padding: 45px 0 20px
    align-items: flex-start

    @media mq-tablet
        flex-wrap: wrap

    @media mq-mobile
        flex-wrap: wrap
        flex-direction: column
        justify-content: center
        align-items: center
        padding-top: 20px

    &__logo
        margin-right: 69px

        @media mq-mobile
            margin: 0 5px 15px
        
    &__addr
        flex: 1
        padding: 2.5px 0 0 0

        @media mq-mobile
            align-items: center

        & > span
            white-space: nowrap

    &__tel
        flex: 2.2
        justify-content: space-between
        padding: 10px 0

        @media mq-tablet
            min-width: 406px
            justify-content: center

            & > .top-header__btn
                margin-left: 20px

        @media mq-mobile
            flex-direction: column;

            & > .top-header__btn
                margin-top: 10px

    &__btn
        border-radius: 5px
        background-color: __yellow
        background-image: yellow-gradient

        padding: 11px 20px
        text-decoration: inherit

    &__line
        width: 1px
        height: 55px
        margin: 5px 17px 0 14px
        background: __yellow

        @media mq-tablet
            margin: 5px 17px 0 7px

        @media mq-mobile
            width: 100%
            height: 1px
            margin: 15px auto
