.top-nav
    background-color: __bg-light-grey
    background-image: light-gray-gradient

.top-nav__list
    display: flex
    flex-direction: row
    justify-content: center


.top-nav__item
    color: __black
    font-weight: 400
    text-decoration: inherit
    padding: 30px 20px 25px