.top-nav
    background-color: __bg-light-grey
    background-image: light-gray-gradient

.bottom-nav
    background-color: __bg-grey
    background-image: dark-gray-gradient
    border-bottom: 1px solid __bg-light-grey

.top-nav__list,
.bottom-nav__list
    display: flex
    flex-direction: row
    justify-content: center
    white-space: nowrap


.top-nav__item,
.bottom-nav__item
    font-weight: 400
    text-decoration: inherit

.top-nav__item
    color: __black
    padding: 27px 18px 22px

.bottom-nav__item
    color: __white
    padding: 27px 25px 22px
