.news
    padding-top: 30px
    max-width: 1160px

    &__img
        @media mq-mobile
            border-radius: 0
            width: 100%
            margin: 0 auto 15px
            height: 180px
            shape-outside: inherit

    &__post
        margin-bottom: 43px

.post__img-outline
    outline: __yellow solid 3px
    outline-offset: -24px
