.slider
    justify-content: center
    margin: 50px auto 64px

    &__wrapper
        width: 940px
        overflow: hidden

        @media mq-tablet
            width: 580px

    &__list
        display: flex
        width: 100%

    &__item
        display: flex
        align-items: center
        align-content: center 
        justify-content: center

        min-width: 92px
        height: 92px
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.07)
        border: 1px solid __bg-light-grey
        border-radius: 50%
        background-color: __white

        margin: 0 12px

        @media mq-mobile
            min-width: 65px
            height: 65px
            margin: 0 5px

    &__btn
        width: 57px
        height: 56px
        border: 2px solid __yellow
        border-radius: 50%
        background: __white
        cursor: pointer
        box-shadow: 1px 0px 0px 0px __white, 0px 1px 0px 0px __white, -1px 0px 0px 0px __white, 0px 0px 0px 1px __white, inset -50px -49px 0px -30px rgba(0,0,0,0)

        @media mq-mobile
            display: none 

        &-prev
            margin-right: 20px

        &-next
            margin-left: 20px