.slider
    justify-content: center
    margin: 50px auto

.slider__item
    display: flex
    align-items: center
    align-content: center 
    justify-content: center

    width: 92px
    height: 92px
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.07)
    border: 1px solid __bg-light-grey
    border-radius: 50%
    background-color: __white

    margin: 0 12px

.slider__btn
    width: 57px
    height: 56px
    border: 1px solid __yellow
    border-radius: 50%
    background: __white

    cursor: pointer

.slider__btn-prev
    margin-right: 43px

.slider__btn-next
    margin-left: 43px  