<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title Test

        link(rel="stylesheet", href="src/dist/style.min.css")
    body
        .page
            include includes/header.pug
            include includes/top-nav.pug
            include includes/slider.pug
            include includes/contents/page-reviews.pug
            include includes/news.pug
            
        include includes/bottom-nav.pug
        include includes/footer.pug
        include includes/scripts.pug

        