nav.bottom-nav
    .container.bottom-nav__list
        a.bottom-nav__item.js-bottom-nav__item(href="") Программа компенсации для иногородних
        a.bottom-nav__item.js-bottom-nav__item.js-bottom-nav__item-active(href="") Утилизация
        a.bottom-nav__item.js-bottom-nav__item(href="") Кредит без первоначального взноса
        a.bottom-nav__item.js-bottom-nav__item(href="") Страхование
        