footer.footer
    .container
        .footer__wrap.row
            .col.footer__block-left
                a(href="/")
                    img(src="assets/img/bottom-logo.png", alt="logo")
            .col.footer__block-right
                .row.footer__row
                    address.col 
                        span г. Тольятти, пос. Тимофеевка, 
                        span ул. Солнечная 1А
                    address.col 
                        span г. Самара, 
                        span ул. Алма-Атинская 87
                    address.col 
                        a(href="tel:+78005050900") 
                            span 8-800-50-50-900
                        a(href="mailto:info@asavtomotors.ru") 
                            span info@asavtomotors.ru
                .row.footer__row