footer.footer
    .container
        .footer__wrap.row
            .col.footer__block-left
                a(href="/")
                    img(src="assets/img/bottom-logo.png", alt="logo")
            .col.footer__block-right
                .row.footer__row.footer__row-top
                    address.col 
                        span г. Тольятти, пос. Тимофеевка, 
                        span ул. Солнечная 1А
                    .footer__line
                    address.col 
                        span г. Самара, 
                        span ул. Алма-Атинская 87
                    .footer__line
                    address.col 
                        a(href="tel:+78005050900") 
                            i.fas.fa-phone-alt
                            span 8-800-50-50-900
                        a(href="mailto:info@asavtomotors.ru") 
                            i.far.fa-envelope
                            span info@asavtomotors.ru
                    .footer__line
                    section.social-list
                .row.footer__row.footer__row-bottom
                    section.footer__col-lift
                        small.col.footer__bottom
                            span &copy;2016 группа компаний "АсАвто"
                            span.
                                Обращаем ваше внимание на то, что данный 
                                интернет-сайт носит исключительно информационный 
                                характер и ни при каких условиях не является 
                                публичной офертой, определяемой положениями 
                                ч. 2 ст. 437 Гражданского кодекса Российской 
                                Федерации. Для получения подробной информации о 
                                стоимости автомобилей, пожалуйста, обращайтесь к 
                                менеджерам автосалона.
                    section.footer__col-right
                        a(href="https://zolotoykod.ru/", 
                            target="_blank", 
                            rel="noopener noreferrer"
                            class="author")
                            figure.author
                                img(src="assets/img/author-logo.png", alt="GC")
                                figcaption Разработка сайта «Золотой Код»
