aside
    section.title
        .title__line
        .container
            .row.position-r
                h2.title__text Новости
                a.title__link(href="/") Больше новостей

    section.news.container
        .wrap
            figure.post.news__post
                img.post__img.post__img-outline(src="assets/img/car-1.jpg", alt="photo")
                article.post__text
                    h3 Презентация Lifan Solano II
                    p.
                        4 сентября в УСК «Олимп» на крупнейшей ежегодной 
                        автомобильной выставке-шоу «MOTOREXPO 2016» прошла 
                        презентация Solano II от автосалона «АсАвто»
                    a(href="/") Подробнее

        .wrap
            figure.post.news__post
                img.post__img.post__img-outline(src="assets/img/car-2.jpg", alt="photo")
                article.post__text
                    h3 Новая комплектация Chery Tiggo 5
                    p.
                        АО «ЧЕРИ АВТОМОБИЛИ РУС» объявляет о расширении 
                        комплектаций для кроссовера Chery Tiggo 5, предлагаемых 
                        российским клиентам
                    a(href="/") Подробнее

        .wrap
            figure.post.news__post
                img.post__img.post__img-outline(src="assets/img/car-3.jpg", alt="photo")
                article.post__text
                    h3 Lifan Solano II Возвращение легенды!
                    p.
                        21 сентября в Москве состоится официальная презентация Lifan 
                        Solano II. Помимо презентации, в этот день пройдёт и 
                        торжественная церемония старта продаж автомобиля
                    a(href="/") Подробнее

        .wrap
            figure.post.news__post
                img.post__img.post__img-outline(src="assets/img/car-4.jpg", alt="photo")
                article.post__text
                    h3 Маркетинг по-китайски
                    p.
                        Обычно мы не верим написанному в рекламных проспектах: 
                        «скидки», «акции», «выгода», а еще эти нерусские sale и 
                        trade-in
                    a(href="/") Подробнее
