section.slider.container.row
    button.slider__btn.slider__btn-prev
        span.chevron-left.slider__chevron-left

    section.slider__wrapper
        section.slider__list
            .slider__item
                img(src="assets/img/slider/lifan.png", alt="lifan")
            .slider__item
                img(src="assets/img/slider/chery.png", alt="chery")
            .slider__item
                img(src="assets/img/slider/brilliance.png", alt="brilliance")
            .slider__item
                img(src="assets/img/slider/faw.png", alt="faw")
            .slider__item
                img(src="assets/img/slider/lada.png", alt="lada")
            .slider__item
                img(src="assets/img/slider/zotye.png", alt="zotye")
            .slider__item
                img(src="assets/img/slider/chevrolet.png", alt="chevrolet")
            .slider__item
                img(src="assets/img/slider/foton.png", alt="foton")
            //- duble
            .slider__item
                img(src="assets/img/slider/lifan.png", alt="lifan")
            .slider__item
                img(src="assets/img/slider/chery.png", alt="chery")
            .slider__item
                img(src="assets/img/slider/brilliance.png", alt="brilliance")
            .slider__item
                img(src="assets/img/slider/faw.png", alt="faw")
            .slider__item
                img(src="assets/img/slider/lada.png", alt="lada")
            .slider__item
                img(src="assets/img/slider/lifan.png", alt="lifan")

    button.slider__btn.slider__btn-next
        span.chevron-right.slider__chevron-right

