section.slider.container.row.js-carousel
    button.slider__btn.slider__btn-prev.js-btn__prev.js-btn-disable
        span.chevron-left.slider__chevron-left

    section.slider__wrapper
        section.slider__list.js-slider__list
            .slider__item.js-slider__item
                img(src="assets/img/slider/lifan.png", alt="lifan")
            .slider__item.js-slider__item
                img(src="assets/img/slider/chery.png", alt="chery")
            .slider__item.js-slider__item
                img(src="assets/img/slider/brilliance.png", alt="brilliance")
            .slider__item.js-slider__item
                img(src="assets/img/slider/faw.png", alt="faw")
            .slider__item.js-slider__item
                img(src="assets/img/slider/lada.png", alt="lada")
            .slider__item.js-slider__item
                img(src="assets/img/slider/zotye.png", alt="zotye")
            .slider__item.js-slider__item
                img(src="assets/img/slider/chevrolet.png", alt="chevrolet")
            .slider__item.js-slider__item
                img(src="assets/img/slider/foton.png", alt="foton")
            //- duble
            .slider__item.js-slider__item
                img(src="assets/img/slider/lifan.png", alt="lifan")
            .slider__item.js-slider__item
                img(src="assets/img/slider/chery.png", alt="chery")
            .slider__item.js-slider__item
                img(src="assets/img/slider/brilliance.png", alt="brilliance")
            .slider__item.js-slider__item
                img(src="assets/img/slider/faw.png", alt="faw")
            .slider__item.js-slider__item
                img(src="assets/img/slider/lada.png", alt="lada")
            .slider__item.js-slider__item
                img(src="assets/img/slider/lifan.png", alt="lifan")

    section.slider__btn-mob.js-buttons__wrap-mob
        button.btn__prev-mob.js-btn__prev-mob.js-btn-disable
            span.chevron-left
        button.btn__next-mob.js-btn__next-mob
            span.chevron-right

    button.slider__btn.slider__btn-next.js-btn__next
        span.chevron-right.slider__chevron-right

