nav.top-nav
    .container.top-nav__list
        a.top-nav__item(href="") Новые авто
        a.top-nav__item(href="") Авто с пробегом
        a.top-nav__item(href="") TRADE-IN
        a.top-nav__item(href="") Кредит
        a.top-nav__item(href="") Сервис
        a.top-nav__item(href="") Акции
        a.top-nav__item(href="") Корпоративные продажи
        a.top-nav__item(href="") О компании
        