main
    section.title
        .title__line
        .container
            .row.position-r
                h1.title__text Отзывы

    section.rewiews.container.col-2
        figure.post
            img.post__img(src="assets/img/user-photo.jpg", alt="photo")
            article.post__text
                h3 Баязитова Л.Ф.
                small 13 октября 2016, Уфа
                p.
                    Нам очень понравилось обслуживание в салоне. Хотим 
                    выразить благодарность менеджеру Александру Яковлеву и 
                    Шапогиной Татьяне. Менеджер - очень уверенный, знающий 
                    свое дело молодой человек. Он все объяснил, показал. 
                    Понравилась работа девушек, которые считали страховку и 
                    все оформляли. По качеству работы отдела продаж ставлю 
                    высший бал.
                a(href="/") Купить этот автомобиль

        figure.post
            img.post__img(src="assets/img/user-photo.jpg", alt="photo")
            article.post__text
                h3 Баязитова Л.Ф.
                small 13 октября 2016, Уфа
                p.
                    Нам очень понравилось обслуживание в салоне.
                a(href="/") Купить этот автомобиль

        figure.post
            img.post__img(src="assets/img/user-photo.jpg", alt="photo")
            article.post__text
                h3 Баязитова Л.Ф.
                small 13 октября 2016, Уфа
                p.
                    Нам очень понравилось обслуживание в салоне. Хотим 
                    выразить благодарность менеджеру Александру Яковлеву и 
                    Шапогиной Татьяне. Менеджер - очень уверенный, знающий 
                    свое дело молодой человек. Он все объяснил, показал. 
                    Понравилась работа девушек, которые считали страховку и 
                    все оформляли. По качеству работы отдела продаж ставлю 
                    высший бал.
                a(href="/") Купить этот автомобиль

        figure.post
            img.post__img(src="assets/img/user-photo.jpg", alt="photo")
            article.post__text
                h3 Баязитова Л.Ф.
                small 13 октября 2016, Уфа
                p.
                    Нам очень понравилось обслуживание в салоне.
                a(href="/") Купить этот автомобиль

        figure.post
            img.post__img(src="assets/img/user-photo.jpg", alt="photo")
            article.post__text
                h3 Баязитова Л.Ф.
                small 13 октября 2016, Уфа
                p.
                    Нам очень понравилось обслуживание в салоне. Хотим 
                    выразить благодарность менеджеру Александру Яковлеву и 
                    Шапогиной Татьяне. Менеджер - очень уверенный, знающий 
                    свое дело молодой человек. Он все объяснил, показал. 
                    Понравилась работа девушек, которые считали страховку и 
                    все оформляли. По качеству работы отдела продаж ставлю 
                    высший бал.
                a(href="/") Купить этот автомобиль
                    
        figure.post
            img.post__img(src="assets/img/user-photo.jpg", alt="photo")
            article.post__text
                h3 Баязитова Л.Ф.
                small 13 октября 2016, Уфа
                p.
                    Нам очень понравилось обслуживание в салоне.
                a(href="/") Купить этот автомобиль
