body
    overflow-x: hidden
    font-family: 'Gotham Pro'
    font-size: 17px
    font-weight: 300

h1, h2, h3, h4, h5, h6
    color: __f-dark-grey
    font-family: 'Bebas Neue'
    font-weight: 700
    margin: 0

h1, h2
    font-size: 40px

h3
    font-size: 25px

a
    color: __yellow
    text-decoration: underline

p
    color: __f-grey
    line-height: 25px

small 
    color: __f-light-grey
    font-style: italic
    line-height: 25px

address
    color: __f-dark-grey
    font-style: normal

figure
    display: flex
    flex-direction: row
    justify-content: flex-start
    margin: 10px 0

button:focus
    outline: inherit
