@font-face
    font-family: 'Bebas Neue'
    src: url('../../assets/fonts/BebasNeue Bold.otf')
    font-weight: 700
    font-style: normal

@font-face
    font-family: 'Bebas Neue'
    src: url('../../assets/fonts/BebasNeue Regular.otf')
    font-weight: 500

@font-face
    font-family: 'Bebas Neue'
    src: url('../../assets/fonts/BebasNeue Book.otf')
    font-weight: 400

@font-face
    font-family: 'Bebas Neue'
    src: url('../../assets/fonts/BebasNeue Light.otf')
    font-weight: 300

@font-face
    font-family: 'Bebas Neue'
    src: url('../../assets/fonts/BebasNeue Thin.otf')
    font-weight: 100

@font-face
    font-family: 'Gotham Pro'
    src: url('../../assets/fonts/GothaProBla.otf')
    font-weight: 900
    font-style: normal

@font-face
    font-family: 'Gotham Pro'
    src: url('../../assets/fonts/GothaProBlaIta.otf')
    font-weight: 900
    font-style: italic

@font-face
    font-family: 'Gotham Pro'
    src: url('../../assets/fonts/GothaProBol.otf')
    font-weight: 700
    font-style: normal

@font-face
    font-family: 'Gotham Pro'
    src: url('../../assets/fonts/GothaProBolIta.otf')
    font-weight: 700
    font-style: italic

@font-face
    font-family: 'Gotham Pro'
    src: url('../../assets/fonts/GothaProMed.otf')
    font-weight: 500
    font-style: normal

@font-face
    font-family: 'Gotham Pro'
    src: url('../../assets/fonts/GothaProMedIta.otf')
    font-weight: 500
    font-style: italic

@font-face
    font-family: 'Gotham Pro'
    src: url('../../assets/fonts/GothaProReg.otf')
    font-weight: 400
    font-style: normal

@font-face
    font-family: 'Gotham Pro'
    src: url('../../assets/fonts/GothaProIta.otf')
    font-weight: 400
    font-style: italic

@font-face
    font-family: 'Gotham Pro'
    src: url('../../assets/fonts/GothaProLig.otf')
    font-weight: 300
    font-style: normal

@font-face
    font-family: 'Gotham Pro'
    src: url('../../assets/fonts/GothaProLigIta.otf')
    font-weight: 300
    font-style: italic
